table, th, td {
    border: 0.5px solid brown ;
  font-size: 22px;
  font-family:'Courier New', Courier, monospace;
  background-color: #c4ecf7;
  align-self: start;
  text-align: center;
  border-radius: 1.5px;
  border-width: 2px;
  
  }
<<<<<<< Updated upstream
body{
    bgcolor:black;
    
}
  
=======
  body{
    color: #fff;
    background: -moz-linear-gradient(-45deg, #EE7752, #E73C7E, #23A605, #23D5AB);
  }
>>>>>>> Stashed changes
  
  h2{
    text-align: center;
    color: rgb(117, 5, 43);
    font-family:sans-serif;
  }
  h1{
    color:antiquewhite;
    text-align: center;
  }
  th{
    color: green;
  }
  td{
    color: blue bold;
    text-shadow: #c4ecf7;
  }
  a{
    color:green ;
    text-underline-offset:unset;
  }
