table, th, td {
    border: 0.5px solid brown ;
  font-size: 22px;
  font-family:'Courier New', Courier, monospace;
  background-color: #c4ecf7;
  align-self: start;
  text-align: center;
  border-radius: 1.5px;
  border-width: 2px;
  
  }
<<<<<<< Updated upstream
body{
    
    background:url(https://www.google.com/search?q=hd+image+background+in+black&tbm=isch&hl=en-GB&chips=q:hd+background+black,g_1:desktop:mKEK8r_MWXY%3D&rlz=1C1CHBF_enIN873IN873&sa=X&ved=2ahUKEwieh8LxxJj2AhVtXWwGHWGkAFYQ4lYoCnoECAEQLg&biw=1519&bih=722#imgrc=-Fw6QwmpU3SZwM) no-repeat;
    background-size: cover;
}
  
=======
  body{
    color: #fff;
    background: -moz-linear-gradient(-45deg, #EE7752, #E73C7E, #23A605, #23D5AB);
  }
>>>>>>> Stashed changes
  
  h2{
    text-align: center;
    color: rgb(117, 5, 43);
    font-family:sans-serif;
  }
  h1{
    color:antiquewhite;
    text-align: center;
  }
  th{
    color: green;
  }
  td{
    color: blue bold;
    text-shadow: #c4ecf7;
  }
  a{
    color:green ;
    text-underline-offset:unset;
  }
